_Use this slack message template for publicly disclosing security vulnerabilities on slack._

_Do not forget to update $ISSUE in the generated content_

_This message should be posted to the `#announcements` channel, which requires special permissions._

---
The Security Response Committee has posted a security advisory{{ if .Versions }} for {{ (index .Versions 0).Component }}{{ end }}{{ if .Summary }} that {{ .Summary }}{{ end }}. This issue has been rated **{{ .CVSS.Severity }}** and assigned **{{ .CVE }}**. Please see $ISSUE for more details.
